html {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    padding: 0;
}
.container {
    position: absolute;
    left: 27%;
    top: 25%;
    height: 50%;
    width: 46%;
    border: solid 3px whitesmoke;
    border-radius: 10px;
    background-color: #2c3138;
}
.wrap {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 2%;
    margin: auto;
    height: 93%;
}
.container-slides {

}
.slides {
    display: none;
}
.low {
    display: flex;
    flex-direction: row;
}
.text {
    color: whitesmoke;
    font-size: 15px;
    text-align: start;
}
.description {
    width: 70%;
}
.dots {
    width: 30%;
    text-align: end;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #2c3138;
    border: 2px solid cornflowerblue;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
